name: YAML Update Action
on:
  workflow_dispatch:
    inputs:
      version_number:
        description: 'next release version number'
        default: '?'
        required: true
jobs:
  test-update-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cat Original application.yaml
        run: cat src/main/resources/application.yml
      - name: Update application.yml
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: 'src/main/resources/application.yml'
          propertyPath: 'spring.application.componentVersion'
          value: ${{ github.event.inputs.version_number }}
          token: ${{ secrets.GH_TOKEN }}
          commitChange: false
          targetBranch: develop
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: update version
          title: Update Version
          body: Update changelog to reflect release changes
          branch: update_version/${{ github.event.inputs.version_number }}
          base: develop
      - name: Cat Updated application.yaml
        run: cat src/main/resources/application.yml
